
body{
    display: block;
    margin-top: 6vh;
    margin-bottom: 20vh;
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Noto Sans JP', sans-serif;
}

footer{
    margin-top: 10vh;
    padding-bottom: 0vh;
    text-align: center;
}
.erreur {
    background: #ff0000;
    padding: 5px;
    margin: 5px;
  }
  img{
    max-width: 100%;
  }
  .carousel{
    max-width: 1200px;
  }
  .card{
    background-color: #000000;
  }
  .presentation{
    text-align: center;
  }
  .navbar{
    position: sticky;
    background-color: #fff ;
  }
  .navbar-brand{
    color: #ac9037;
  }
.navbar .container-fluid {

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.navbar .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar .logo a {
  display: block;
}
.navbar .logo img {
  max-height: 150px;/* Ajustez la hauteur du logo selon vos besoins */
  ;
}
.navbar .logo .logo-img {
  max-height: 1px; /* Ajustez la hauteur du logo si nécessaire */
}

.navbar .spacer {
  flex-grow: 1;
}
.navbar-toggler {
  margin-left: auto; /* S'assure que le bouton est aligné à droite */
}
.contact img{
  max-height: 70px;
}
.contact{
  margin-top: 10vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  flex-direction: column;
}
p{
  font-size: large;
}
h4{
  font-size: xx-large;
  color: #ac9037;
}
.card-group .card img{
  max-height: 50%;
  max-width: 100%;
}
a{
  color: #f0d807;
}
p{
  color: #ac9037;
}
.titre{
  text-align: center;
}
:root {
  --surface-color: #fff;
  --curve: 40;
}
* {
  box-sizing: border-box;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}
.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-image:url(https://img.freepik.com/vecteurs-premium/beau-fond-degrade-couleur-marron-violet_492281-2192.jpg?w=360) ;      
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-image:url(https://img.freepik.com/vecteurs-premium/beau-fond-degrade-couleur-marron-violet_492281-2192.jpg?w=360) ;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: #000000;
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #f0d807;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #ffffff;  
}

.card__status {
  font-size: .8em;
  color: #ffffff;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #ffffff;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.card-accueil{
position: sticky;
margin-top: 10vh;

}
label{
  color: #f0d807;
}
.inscription{
  margin-top: 8vh;
}
.byline span {
  animation: spin-letters 10s linear infinite;
}
.byline {
  animation: move-byline 10s linear infinite;
}


@keyframes spin-letters {
  0%, 10% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  30% {
    opacity: 1;
  }
  70%, 86% {
    transform: rotateY(0);
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}

@keyframes move-byline {
  0% {
    transform: translateZ(5em);
  }
  100% {
    transform: translateZ(0);
  }
}

/* Make the 3D work on the container */
.demo {
  perspective: 800px;
  transform-style: preserve3d;
}

.demo {

  margin-top: 50vh;
  height: 17em;
  left: 50%;
  position: absolute;
  top: 53%;
  transform: translate(-50%, -50%);
  width: 34em;
}
.byline span {
  display: inline-block;
}
 .byline {
  position: absolute;
}
.byline {
  color: #fff;
  font-family: "ITC Serif Gothic", Lato;
  font-size: 2.25em;
  left: -2em;
  letter-spacing: 0.4em;
  right: -2em;
  text-align: center;
  text-transform: uppercase;
  top: 29%;
}

/*** Media queries for adjusting to different screen sizes ***/

@media only screen and (max-width: 600px) {
  .demo {
    font-size: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .demo {
    font-size: 7px;
  }
}

